node_modules
vendor
.env
storage/*.key
public/storage
public/build
.git
.github
tests
phpunit.xml
.editorconfig
.eslintrc.json
.prettierrc
README.md
deployment_guide.md
implementation_plan.md
task.md
walkthrough.md
